@model IdentitySample.Models.ApplicationUser
@{ViewBag.title = "User Profile";}
@{if (User.IsInRole("Viewer"))
  {
      
      <h1>Index =Viewer</h1>
  }
      
  else{
      @*@model WebApplicationNew.Models.RolesModel.BandViewModel*@
      <h1>My Profile Info</h1>
    <fieldset>
    
        @*@using (Html.BeginForm("Index", "account", FormMethod.Post))
        {*@
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()


            @*<legend>Registration Form</legend>*@
            <div class="corner-top">Register form</div>
            <table class="register-form">
                <tr>
                    <td> @Html.LabelFor(model => model.ProfileName)</td>
                    <td>@Html.DisplayFor(model => model.ProfileName)</td>
                </tr>
               
                <tr>
                    <td> @Html.LabelFor(model => model.Country)</td>
                    <td> @Html.DisplayFor(model => model.Country)</td>
                   
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.Styles)</td>
                    <td>@Html.DisplayFor(model => model.Styles)</td>
                </tr>
                <tr>

                    <td> @Html.LabelFor(model => model.Description)</td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.Webpage)</td>
                    <td>@Html.DisplayFor(model => model.Webpage)</td>
                </tr>
                @*<tr>
                    <td> @Html.LabelFor(model => model.OldPassword)</td>
                    <td>@Html.PasswordFor(model => model.OldPassword)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ConfirmPassword)
                    </td>
                    <td>@Html.PasswordFor(model => model.ConfirmPassword)</td>
                </tr>*@
            </table>
            @Html.ActionLink("Edit Profile", "Edit", "Account",null, new { @class="edit-button"})

        @*}*@


    
</fieldset>
  }
  
}



