@model IdentitySample.Models.ApplicationUser
@{ViewBag.title = "User Profile";}
@{if (User.IsInRole("Viewer"))
  {
      
      <h1>Index =Viewer</h1>
  }
      
  else{
      @*@model WebApplicationNew.Models.RolesModel.BandViewModel*@
      <h1>My Profile Info</h1>
    <fieldset>
    
        @using (Html.BeginForm("Index", "account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()


            @*<legend>Registration Form</legend>*@
            <div class="corner-top">Register form</div>
            <table class="register-form">
                <tr>
                    <td> @Html.LabelFor(model => model.ProfileName)</td>
                    <td>@Html.DisplayName(Model.ProfileName)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.BandMembers)</td>
                    <td>@Html.TextAreaFor(model => model.BandMembers)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.Country)</td>
                    <td> @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.country)</td>
                   
                </tr>
                @*<tr>

                    <td> @Html.LabelFor(model => model.Country)</td>
                    <td>@Html.TextBoxFor(model => model.Country)</td>
                </tr>*@
                <tr>
                    <td> @Html.LabelFor(model => model.Webpage)</td>
                    <td>@Html.TextBoxFor(model => model.Webpage)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.OldPassword)</td>
                    <td>@Html.PasswordFor(model => model.OldPassword)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ConfirmPassword)
                    </td>
                    <td>@Html.PasswordFor(model => model.ConfirmPassword)</td>
                </tr>
            </table>
            <input type="submit" value="Create New Account" />

        }


    
</fieldset>
  }
  
}



