@model IdentitySample.Models.NewConversation

@{
    ViewBag.Title = "My Messages";
}

<h1>@ViewBag.Title</h1>

<fieldset>
   @using (Html.BeginForm("NewMessage", "Account", FormMethod.Post, new { @id="edit-user-form"}))
   { 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
       <div class="corner-top">Write New Message</div>
       <table class="register-form">
           <tr>
               <td>@Html.HiddenFor(model => model.RecipentId)</td>
           </tr>
           <tr>
               <td> @Html.HiddenFor(model => model.SenderId)</td>
               
           </tr>
           <tr>
               <td> @Html.LabelFor(model => model.UserNames)</td>
               <td>@Html.TextBoxFor(model => model.UserNames)</td>
           </tr>
           <tr>
               <td> @Html.LabelFor(model => model.Subject)</td>
               <td>@Html.TextBoxFor(model => model.Subject)</td>
           </tr>
           <tr>
               
               <td>@Html.HiddenFor(model => model.SenderId)</td>
           </tr>
          
           
           <tr>
               <td> @Html.LabelFor(model => model.Text)</td>
               <td>@Html.TextAreaFor(model => model.Text)</td>
           </tr>
           <tr>
              
               <td>@Html.HiddenFor(model => model.Date)</td>
           </tr>

           </table>
         <div class="edit-button" onclick="javascrpt:document.getElementById('user-edit-form').submit()">Send</div>
   }
</fieldset>